language: node_js

branches:
  only:
  - master
  - /v\d+\.\d+\.\d+/

node_js:
  - "10"

deploy:
    provider: releases
    api_key: $GITHUB_API_KEY
    file:
      - "build/js/atouch.js"
      - "build/js/atouch-min.js"
    skip_cleanup: true
    on:
      tags: true